<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<form method="get" action="/success_permissions">

<label>Torneo</label>
<select name="tournament">
{% for tournament in tournaments %}
    <option value="{{ tournament.tournament_id }}">{{ tournament.name }}</option>
{% endfor %}
</select> </br>

    <label>Digitador</label>
<select name="usuario">
{% for usuario in users %}
    <option value="{{ usuario.id }}">{{ usuario.username }}</option>
{% endfor %}
</select> </br>
<input type="submit" value="Asignar">
</form>



</body>
</html>