
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>




<h1>{{selected_tournament.name}}</h1>

<form action="" method="get">
<select name="torneos" hidden="true" >

    <option value="{{selected_tournament.tournament_id}}">{{selected_tournament.name}}</option>

</select>
    </form>
    {% for punto in puntajeslocales %}
{{punto}}
    {% endfor %}
    <table>

    <tr>
    <th></th>
    <th>
        Home
     </th>
 <th></th>
    <th>
        Away
    </th>






<form action="/match/successact" method="get">
<tr>
<td>

    <select name = "jornada">
        {% for fixture in fixtures %}
        <option value="{{fixture.fixture_id}}">{{fixture.number}}</option>
        {% endfor %}
    </select>
    </td>

    <td>
    <select name ="equipolocal" >
        {% for team in teams %}
        <option value = "{{team.team_id}}">{{team.name}}</option>
        {% endfor %}
    </select>
</td>

    <td> vs </td>

 <td>
    <select name ="equipovisita" >
        {% for team in teams %}
        <option value = "{{team.team_id}}">{{team.name}}</option>
        {% endfor %}
    </select>
</td>


<td><input type ="submit" value="insertar"></input> </td>
</tr>
</form>



</table>

</body>
</html>