
<!doctype html>
<html lang="en" > 
<head>
	<meta charset="UTF-8" >
	<title> TournGen </title>
</head>


{% block navbar %}

<h1> TournGen </h1>
{% if user.is_authenticated %}
Bienvenido {{user.username}}
<ul>
	
	<li> <a href="tournament/create">Crear Torneo  </a> </li>
    <li> <a href="tournament/all">Eliminar Torneos  </a> </li>
    <li> <a href="team/create">Crear Equipos  </a> </li>
    <li> <a href="team/all">Eliminar Equipos  </a> </li>
    <li> <a href="fixture/all"> Generar Partidos  </a> </li>
    
    <li> <a href="match/all"> Actualizar resultados </a> </li>
    <li> <a href="crear_digitador"> Crear Usuario Digitador </a></li>
    <li> <a href="asignar_permiso"> Asignar Permisos al Digitador </a></li>
    <li> <a href="crear_representante"> Crear Usuario Representante de Equipo </a></li>
    <li> <a href="asignar_permiso_representante"> Asignar Permisos al Representante de Equipo </a></li>
    <li> <a href="match/guest">Ver partidos publicos</a></li>
    <li> <a href="match/mine">Ver mis partidos</a></li>
	<li> <a href="/logout">Cerrar Sesión  </a> </li>



</ul>



{% else %}
<ul>
	
	
	<li> <a href="/register"> Registrate </a> </li>
     <li> <a href="/accounts/login"> Entra </a>   </li>
    <li> <a href="match/guest">Ver partidos publicos</a></li>


</ul>
{% endif %}
{% endblock %}
