
<!doctype html>
<html lang="en" > 
<head>
	<meta charset="UTF-8" >
	<title> Document </title>
</head>


{% block navbar %}

<h1> TournGen </h1>
{% if user.is_authenticated %}
Bienvenido {{user.username}}
<ul>
	
	<li> <a href="tournament/create">Crear Torneo  </a> </li>
    <li> <a href="team/create">Crear Equipos  </a> </li>
    <li> <a href="fixture/all"> Generar Partidos  </a> </li>
    <li> <a href="match/all"> Actualizar resultados </a> </li>

	<li> <a href="/logout">Cerrar Sesión  </a> </li>



</ul>



{% else %}
<ul>
	
	
	<li> <a href="/register"> Registrate </a> </li>
        <li> <a href="/accounts/login"> Entra </a>   </li>


</ul>
{% endif %}
{% endblock %}
