<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    {% for punto in golesencontra %}
{{punto}}
    {% endfor %}

{% for team in teams %}
{{team.name }}
{% endfor %}


<table>

    <tr>
        <th> Equipo</th>
        <th> GF </th>
        <th> GC </th>
        <th> GD </th>
        <th> PTS </th>
    </tr>
{% for team in teams %}
<tr>
<td>{{team.name }}</td>
{% endfor %}
</tr>




</table>



<table border="1">
<tr>
<td>row 1, cell 1</td>
<td>row 1, cell 2</td>
</tr>
<tr>
<td>row 2, cell 1</td>
<td>row 2, cell 2</td>
</tr>
</table>

</body>
</html>