{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title></title>

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/default.css" %}">
    <script type="text/javascript" src="{% static "assets/js/jquery-1.9.1.js" %} "></script>
    <script type="text/javascript" src="{% static "assets/js/jquery.tablesorter.min.js" %} "></script>


<script type="text/javascript">

$(document).ready(function()
    {
         $("#myTable").tablesorter();
          $("#myTable").html().appendTo("#mainTable");

    }
);
</script>
</head>

<body>

<h1>{{selected_tournament.name}}</h1>

<table id="myTable" >
<thead>
    <tr>
        <th> Equipo</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
        <th> GF </th>
        <th> GC </th>
        <th> GD </th>
        <th> PTS </th>
    </tr>
 </thead>
{% for position in posiciones %}
   <tbody>
    <tr>
        <td>{{position.teams}}</td>
        <td>{{position.partidosjugados}}</td>
        <td>{{position.partidosganados}}</td>
        <td>{{position.partidosempatados}}</td>
        <td>{{position.partidosperdidos}}</td>
        <td>{{position.golesafavor}}</td>
        <td>{{position.golesencontra}}</td>
        <td>{{position.golesdiferencia}}</td>
        <td>{{position.puntos}}</td>



    </tr>

{% endfor %}

</tbody>
</table>

<a href="/">Back home</a>




</body>
</html>