<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>

<body>


<table>

    <tr>
        <th> Equipo</th>
        <th>PJ</th>
        <th>PG</th>
        <th>PE</th>
        <th>PP</th>
        <th> GF </th>
        <th> GC </th>
        <th> GD </th>
        <th> PTS </th>
    </tr>
{% for position in posiciones %}
    <tr>
        <td>{{position.teams}}</td>
        <td>{{position.partidosjugados}}</td>
        <td>{{position.partidosganados}}</td>
        <td>{{position.partidosempatados}}</td>
        <td>{{position.partidosperdidos}}</td>
        <td>{{position.golesafavor}}</td>
        <td>{{position.golesencontra}}</td>
        <td>{{position.golesdiferencia}}</td>
        <td>{{position.puntos}}</td>



    </tr>

{% endfor %}

  <td></td>
   <td></td>
    <td></td>




</tr>




</table>




</body>
</html>